.button1{
    display: inline-flex;
    justify-content: space-evenly;
    padding: 8px 8px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    width: 80px;
    height: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0 auto;
    margin-right: 15px;
    margin-left: 15px;
}
body{
    background-color: #93C572;
    background-image: url('UC.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-size: 1500px;
    height: 100vh;
}
input[type=email],
input[type=password],
input[type=text] {
    border: 3px solid black;
    padding: 5px 10px 5px 50px;
    font-size: 18px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ewan {
    max-width: 300px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container1 {
    width: 90%;
    max-width: 1160px;
    margin: 10px;
    margin: 0 auto;
}
.image {
    margin: 10px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon {
    position: absolute;
    left: 15px;
    top: 0;
    font-size: 25px;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}